<div class="content text-center">
    <h1>IUsinagem</h1>
    <small class="muted-text">Torneamento, Rosqueamento, Fresamento, e Furação</small>
    <hr />
    <p>Sua aplicação de cálculo de Usinagem, com inúmeras fórmulas e aplicação, 
    altíssima confiabilidade, cálculos apurados, combinados com conforto e segurança nas
    formações de variáveis, sejam essas conhecidas, ou prestes a serem descobertas!</p>
    <p>Clique aqui para começar a sua jornada de cálculos.</p>
    <button 
        class = "start-btn" 
        (click) = "onDisplayChange('transition')"
    >
        Iniciar
    </button>
    <p class="muted-text">Um trabalho interdisciplinar de <strong>Samuel Pinheiro Coutinho Lopes</strong> 
    na modalidade de prática profissional articuladora do curso de Mecânica do IFBAda turma 6822 de 
    mecânica.</p>
    <p style = "position: relative; bottom: 2%;">Link para o site fonte de pesquisa: <a href="https://www.sandvik.coromant.com/pt-pt/knowledge/machining-formulas-definitions" target="_blank">Sandvik - Usinagem</a></p>
</div>

