<div class="content text-center">
    <h1>IUsinagem</h1>
    <small class="muted-text">Torneamento, Rosqueamento, Fresamento, e Furação.</small>
    <hr />
    <p>Aplicação voltada a fórmulas e cálculos de usinagem, seja torneamento, furação, fresamento ou 
    rosqueamento. 
    A aplicação oferece "Âmbitos de Cálculos", componentes com variáveis de equivalência compartilhadas, permitindo 
    assim que o usuário calcule os valores intrínsecos à distintas situações problemas (variadas fórmulas) do mesmo
    ofício da usinagem mecânica. Todo "âmbito" possui fórmulas que podem ser adicionadas conforme a vontade do
    usuário.
    </p>
    <button 
        class = "start-btn" 
        (click) = "onDisplayChange('transition')"
    >
        Iniciar
    </button>
    <div class="complementText">
        <p>
            Um trabalho interdisciplinar de <strong>Samuel Pinheiro Coutinho Lopes</strong> 
            na modalidade de prática profissional articuladora do curso de Mecânica do IFBA da turma 6822 de 
            mecânica.
        </p>
    </div>
    <div class="referenceDiv">
        <p>Link para o site fonte de pesquisa: <a href="https://www.sandvik.coromant.com/pt-pt/knowledge/machining-formulas-definitions" target="_blank">Sandvik - Usinagem</a></p>
    </div>
</div>

