<h5>Torneamento Nº {{getCalcNumber(calcIndex)}}</h5>

<div 
    *ngFor="let formula of formulaArr"
    [ngSwitch]="formula"
    class="formulaBox"
>
    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/0.jpg'">
        <label>Velocidade de Corte, v(m/min)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "Vc" placeholder="Vc" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Dm" placeholder="Dm"/> x
                    π x  
                    <input [(ngModel)] = "n" placeholder="n"/></div>
                <div class="bottomLign">
                    1000
                </div>
            </div>
            <div class="btnDiv">
                <button class="calcButton" (click) = "calculator(0)">Calcular</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/1.jpg'">
        <label>Velocidade de Corte, v(pés/min)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "Vc" placeholder="Vc" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Dm" placeholder="Dm"/> x
                    π x  
                    <input [(ngModel)] = "n" placeholder="n"/></div>
                <div class="bottomLign">
                    12
                </div>
            </div>
            <div class="btnDiv">
                <button class="calcButton" (click) = "calculator(1)">Calcular</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/2.jpg'">
        <label>Velocidade do Fuso n (rpm)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "n" placeholder="n" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Vc" placeholder="Vc"/> x
                   1000
                </div>
                <div class="bottomLign">
                    π x
                    <input [(ngModel)] = "Dm" placeholder="Dm"/>
                </div>
                <div class="btnDiv">
                    <button class="calcButton" (click) = "calculator(2)">Calcular</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/3.jpg'">
        <label>Velocidade de Fuso n (rpm)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "n" placeholder="n" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Vc" placeholder="Vc"/> x
                   12
                </div>
                <div class="bottomLign">
                    π x
                    <input [(ngModel)] = "Dm" placeholder="Dm"/>
                </div>
            </div>
            <div class="btnDiv">
                <button class="calcButton" (click) = "calculator(3)">Calcular</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/4.jpg'">
        <label>Taxa de remoção de metal Q (cm3/min)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "Q" placeholder="Q" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Vc" placeholder="Vc"/> x
                    <input [(ngModel)] = "ap" placeholder="ap"/> x
                    <input [(ngModel)] = "Fn" placeholder="Fn"/>
                </div>
            </div>
            <div class="btnDiv">
                <button class="calcButton" (click) = "calculator(4)">Calcular</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/5.jpg'">
        <label>Taxa de remoção de metal Q (pol3/min)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "Q" placeholder="Q" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Vc" placeholder="Vc"/> x
                    <input [(ngModel)] = "ap" placeholder="ap"/> x
                    <input [(ngModel)] = "Fn" placeholder="Fn"/> x
                    12
                </div>
            </div>
            <div class="btnDiv">
                <button class="calcButton" (click) = "calculator(5)">Calcular</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/6.jpg'">
        <label>Potência líquida Pc (kW)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "Pc" placeholder="Pc" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Vc" placeholder="Vc" /> x
                    <input [(ngModel)] = "ap" placeholder="ap" /> x
                    <input [(ngModel)] = "Fn" placeholder="Fn" /> x
                    <input [(ngModel)] = "Kc" placeholder="Kc" />
                </div>
                <div class="bottomLign">
                    60 x
                    10^3
                </div>
            </div>
            <div class="btnDiv">
                <button class="calcButton" (click) = "calculator(6)">Calcular</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/7.jpg'">
        <label>Potência líquida Pc (HP)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "Pc" placeholder="Pc" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Vc" placeholder="Vc" /> x
                    <input [(ngModel)] = "ap" placeholder="ap" /> x
                    <input [(ngModel)] = "Fn" placeholder="Fn" /> x
                    <input [(ngModel)] = "Kc" placeholder="Kc" />
                </div>
                <div class="bottomLign">
                    33 x
                    10^3
                </div>
            </div>
            <div class="btnDiv">
                <button class="calcButton" (click) = "calculator(7)">Calcular</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'../../../assets/selectImgs/torneamento/8.jpg'">
        <label>Tempo de usinagem Tc (min)</label>
        <div class="formula">
            <div class="value">
                <input [(ngModel)] = "Tc" placeholder="Tc" disabled /> =
            </div>
            <div class="equation">
                <div class="topLign">
                    <input [(ngModel)] = "Im" placeholder="Im"/>
                </div>
                <div class="bottomLign">
                    <input [(ngModel)] = "Fn" placeholder="Fn"/> x
                    <input [(ngModel)] = "n" placeholder="n"/>
                </div>
            </div>
            <div class="btnDiv">
                <button class="calcButton" (click) = "calculator(8)">Calcular</button>
            </div>
        </div>
    </div>
</div>

<app-select
    [label] = "'Adicionar nova Fórmula'"
    [options] = "formulas"
    (optionSelected) = "onOptionSelected($event)"
></app-select>
