.formulaBox {
    border: dashed 1px black;
    margin: 1%;
    padding: 1%;
}

.leftCalcDiv {
    display: inline-block;
    width:fit-content;
    top: 50%;
}

.topCalcDiv {
    padding-bottom: 2px;
    border-bottom: solid black 2px;
}

.bottomCalcDiv {
    display: inline-block;
    width: fit-content;
    position: relative;
    left: 30%;
}

.formulaInput {
    outline: none;
    border: none;
    border: solid rgba(128, 128, 128, 0.514) 0.5px;
    width: 40px;
}

.calcButton {
    width: 80px;
    outline: none;
}

.calcTop {
    width: 60%;
    border-bottom: rgb(88, 88, 88) solid 1px;
}

.calcTop *{
    width: 30%;
    display: inline-block;
}

input {
    outline: none;
    border: 1px solid rgb(88, 88, 88);
    width: 50px;
}

.row1 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.col1 {
    width: 25%;
}

.col2 {
    width: 35%;
}

.col3 {
    width: 25%;
    margin-left: 20px;
}